<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form id="editUser" method="POST" action="/user/<%=user.id%>?_method=DELETE">
        <div class="field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="<%=user.username%>" disabled>
        </div>
        <div class="field">
            <label for="">Email</label>
            <input type="text" id="email" name="email" value="<%=user.email%>" disabled>
        </div>
        <div class="field">
            <label for="password">Enter password</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <button class="delete">Delete</button>
            <a href="/users"><button type="button" class="cancel">Cancel</button></a>
        </div>
    </form>
</body>
</html>