<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>The total number of learners = <%=totalUsers%></h1>
    <div id="join-us">
        <a href="/user"><button>Join us today!</button></a>
        <a href="/users">Click to explore the learners!</a>
    </div>
</body>
</html>